

.navbar {
    background-color: red;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 25px;
}

button {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    width: 125px;
}

.banner {
    margin-top: 80px;
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }